body{
    margin-top: 40%;
 animation: colores 15s ease-in-out infinite alternate;
}

.circulo{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-style: solid;
    border-width: 6px;
    margin-right: 30px;
    margin-left: 50px;

}
    

.elipse figure{
    justify-content: center;
    display: flex;
}

.elipse figcaption1{
    list-style: none;
    animation: circulo1 15s ease-in-out infinite alternate;

}

.elipse figcaption2{
    justify-content: center;
    list-style: none;
    animation: circulo2 15s ease-in-out infinite alternate;

}

.elipse figcaption3{
    list-style: none;
    animation: circulo3 15s ease-in-out infinite alternate;

}
.lema1{
    color: white;
    font-family: 'Courier New';
    font-style: inherit;
}
.lema2{
    color: white;
    font-family:'Lucida Sans Unicode';
    font-style: italic;
}
.lema3{
    color: white;
    font-family: cursive;
    font-style: oblique;
}
h1{
    text-align: center;
    margin: 0;
    font-size: 60px;
    display: flex;

}

h2{
    text-align: right;
    margin: 0;
    font-size: 30px;

}
.elipse {
    width:45%;
    height: 70px;
    margin: 0px auto;
    overflow: hidden;
    padding-right: 25%;
    padding-left: 25%;
    padding-top: 30%;
    padding-bottom: 30%;
    border-radius: 50%;
    position: absolute;
    top: -400px;

    animation: colores 15s ease-in-out infinite alternate;

}

.elipse ul {
    display: flex;
    width: 300%;
    height: auto;

    animation: slide 15s ease-in-out infinite alternate;
}
.elipse li{
    list-style: none;
    width:70%;   
}
.elipse img{
    width: 60%;
    margin-left: 100px;
    height: auto;

}
.elipse ol{
    display: flex;
    width: 300%;
    height: auto;
    margin-top: 80px;
    animation: slide 15s ease-in-out infinite alternate;
}
.elipse h1{
    list-style: none;
    margin-left: 18%;
    width:60%;   
}
.elipse ol1{
    display: flex;
    width: 300%;
    color: white;
    height: auto;
    animation: slide 15s ease-in-out infinite alternate;

}

@keyframes slide {
    0%{margin-left: 0%;}
    30%{margin-left: 0%;}
 
    40%{margin-left: -100%;}
    65%{margin-left: -100%;}
  
    75%{margin-left: -200%;}
    100%{margin-left: -200%;}
 
}
@keyframes colores {
    
    0%{background: radial-gradient(rgb(255,255,255),rgb(218,97,93))}
    30%{background: radial-gradient(rgb(255, 255, 255),rgb(218,97,93));}
    
    40%{background: radial-gradient(rgb(255,255,255),rgb(67,122,45));}
    65%{background: radial-gradient(rgb(255,255,255),rgb(67,122,45));}

    75%{background: radial-gradient(rgb(255,255,255),rgb(85,112,243));}
    100%{background: radial-gradient(rgb(255,255,255),rgb(85,112,243));}
}
@keyframes circulo1 {

    0%{border-color: rgb(241, 15, 15);}
    30%{border-color: rgb(241, 15, 15);}
    
    40%{border-color: black;}
    65%{border-color: black;}

    75%{border-color: black;}
    100%{border-color: black;}

}
@keyframes circulo2 {

    0%{border-color: black;}
    30%{border-color: black;}
    
    40%{border-color: rgb(13,132,3);}
    65%{border-color: rgb(13,132,3);}

    75%{border-color: black;}
    100%{border-color:black;}
}

@keyframes circulo3 {

    0%{border-color: black;}
    30%{border-color: black;}
    
    40%{border-color: black;}
    65%{border-color: black;}

    75%{border-color: rgb(5,39,159);}
    100%{border-color:rgb(5,39,159);}
}